doctype html
html(lang='en')
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		title Jutsus
		link(rel="stylesheet", href="./src/style.sass")
		script(src="https://cdn.jsdelivr.net/npm/emojione@4.0.0/lib/js/emojione.min.js")
		link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/emojione@4.0.0/extras/css/emojione.min.css")
	body
		
		script(src="./src/index.ts")