doctype html
html(lang='en')
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		title Jutsus
		link(rel="stylesheet", href="./src/style.sass")
		script(src="https://cdn.jsdelivr.net/npm/emojione@4.0.0/lib/js/emojione.min.js")
		link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/emojione@4.0.0/extras/css/emojione.min.css")
	body
		main.c-main
			figure.js-symbol.u-center 
			figcaption.js-symbol_desc
				h1
				h3
					blockquote
		footer
			dialog#logger.js-log.c-log 
			
		script(src="./src/index.ts")