doctype html
html(lang='en')
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		title Jutsus
		link(rel="stylesheet", href="./src/style.sass")
	body
		main
		footer
			dialog#logger.js-log.c-log 

		script(src="./src/index.ts")
