body, html
	margin: 0
	padding: 0

body
	width: 100vw
	height: 100vh
	min-height: 100vh
	background-color: hsla(0, 60%, 10%, 1)
	overflow: hidden

//Footer
footer
	display: flex
	justify-content: center
	bottom: 0
	position: absolute
	width: 100%
.c-log
	color: white
	border: none
	display: block
	background: linear-gradient( hsla(0,0%,0%,0.65) 100%, hsla(0,0%,0%,1) 0%) 
	position: absolute
	bottom: -200px
	transition: bottom 0.6s
	font-size: 24px
	&.is-logged
		bottom: 100px
